<div class="site-menubar site-menubar-dark" ng-controller="NavigationController">
    <ul class="site-menu">
        <li class="site-menu-item active">
            <a class="animsition-link" ng-href="/#">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
            </a>
        </li>
        <li class="site-menu-item active">
            <a class="animsition-link" ng-href="/#/companies">
                <i class="site-menu-icon fa fa-building" aria-hidden="true"></i>
                <span class="site-menu-title">Companies</span>
            </a>
        </li>
    </ul>
</div>
